:root {
    --font-size: 100%;

/* ## Colors */

/* ### Primary */

--soft-red: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);
/* (graphic design text) */
--dark-desaturated-cyan: #25564b;
/* (photography text) */
--dark-blue: hsl(198, 62%, 26%);
/*  (footer) */
--dark-moderate-cyan: hsl(167, 44%, 70%);

/* ### Neutral */

--very-dark-desaturated-blue: hsl(212, 27%, 19%);
--very-dark-grayish-blue: hsl(213, 9%, 39%);
--dark-grayish-blue: hsl(232, 10%, 55%);
--grayish-blue: hsl(210, 4%, 67%);
--white: hsl(0, 0%, 100%);

/* FONTS */
--ff-prim: "Barlow", sans-serif;
--ff-sec: "Fraunces", serif;
}

body {
    margin: 0;
    font-family: var(--ff-prim);
    font-size: 18px;
}
h1,h2,h3,p {
    margin: 0;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}

/* Navigation */

.ss__navbar {
    width: 100%;
    background-color: hsl(200, 100%, 62%);
    
}
.ss__prim-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    height: 3rem;
    position: relative;
}

.ss__menu-icon{
    cursor: pointer;
}

.ss__prim-navlist{
    position: absolute;
    top: 3rem;
    left: 1rem;
    right: 1rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    padding-block: 2rem;
    visibility: hidden;
}

.ss__prim-navlist::before {
    content: '';
    position: absolute;
    right: 0;
    top: -1em;
    border: 1em solid transparent;
    border-right-color: white;
    rotate: 360deg;
}
.slidein {
    visibility: visible;
    animation: slidein 1000ms forwards;
}

@keyframes slidein {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
.ss__navlinks{
    color: var(--dark-grayish-blue);
    font-weight: 600;
}

.contact {
    color: black;
    background-color: var(--yellow);
    padding: .5rem 1.25rem;
    border-radius: 50px;
    margin-block: 2rem;
}

.contact:hover,
.contact:focus-visible {
    background-color: hsla(51, 100%, 49%, .75);
}
/* Hero */
.ss__hero{
    background-image: url('../images/desktop/image-header.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 80vh;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ss__title{
    color: var(--white);
    letter-spacing: 1rem;
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 8rem;
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: var(--ff-sec);
    text-transform: uppercase;
}
.ss__arrow{
    cursor: pointer;
}

/* Services */
.ss__services-section{
    margin-bottom: 4rem;
}
.ss__even-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
}
.ss__block-title{
    font-family: var(--ff-sec);
}
.ss__col-transform,
.ss__col-standout{
    display: flex;
}
.ss__col-transform > img,
.ss__col-standout > img,
.ss__col-graphic > img,
.ss__col-photography > img{
    width: 100%;
}
.ss__col-transform {
    order: 1;
}
.ss__col-standout {
    order: 3;
}
.ss__col-graphic{
    order: 5;
    aspect-ratio: 4/5;
    background-image: url('../images/desktop/image-graphic-design.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 0 1rem 3rem;
    color: var(--dark-desaturated-cyan);
}
.ss__col-photography{
    order: 6;
    aspect-ratio: 4/5;
    background-image: url('../images/desktop/image-photography.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 0 1rem 3rem;
    color: var(--dark-desaturated-cyan);
}
.ss__col-graphic > p,
.ss__col-photography > p {
    max-width: 40ch;
    font-weight: 600;
}
.ss__col-graphic > h2,
.ss__col-photography > h2 {
    font-family: var(--ff-sec);
    margin-bottom: 1rem;
}
.ss__col-transform_content {
    display: grid;
    align-content: center;
    text-align: center;
    order: 2;
    margin-inline: 1rem;
    min-height: 350px;
}
.ss__col-standout_content {
    display: grid;
    align-content: center;
    text-align: center;
    order: 4;
    margin-inline: 1rem;
    min-height: 350px;
}

/* Testimonials */
.ss__testimonial-section{
    margin-bottom: 4rem;
}
.ss__testimonial-section > h2{
    color: var(--grayish-blue);
    text-align: center;
}
.ss__test-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--very-dark-grayish-blue);
    padding: 1rem;
}
.ss__test-card > img{
    width: 80px;
    border-radius: 50%;
    margin: 2rem;
}
.ss__test-card_content{
    padding-inline: 1rem;
}
.ss__test-card_review{
    margin-bottom: 2rem;
    font-weight: 600;
}
.ss__test-card_name{
    font-family: var(--ff-sec);
    color: var(--very-dark-desaturated-blue);
    font-weight: 800;
    margin-bottom: 1rem;
}
.ss__test-card_prof{
    font-size: 18px;
}

/* Gallery */
.ss__gallery > img {
    width: 100%;
    aspect-ratio: 1 / 1;
}
.ss__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* Footer */

footer {
    background-color: var(--dark-moderate-cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: 4rem;
}

.ss__footer-navlist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 0;
    margin-bottom: 2rem;
}
.ss__footer-navlist > li > a {
    color: var(--dark-blue);
    font-size: 18px;
    font-weight: 500;
}
.ss__footer-navlist > li > a:hover {
    color: var(--white);
}
.ss__social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.icon:hover {
    filter: brightness(800%);
}

/* Media Queries */

@media (min-width: 576px) {
    /* Navigation */
    .ss__menu-icon{
        display: none;
    }
    .ss__prim-navlist{
        all: unset;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .ss__prim-navlist::before{
        all: unset;
    }
    .ss__navlinks {
        color: var(--white);
        font-weight: 600;
        transition: 300ms ease-in-out;
    }
    .ss__navlinks:hover,
    .ss__navlinks:focus-visible {
        color: var(--dark-desaturated-cyan);
    }
    .contact {
        background-color: var(--white);
        color: var(--very-dark-desaturated-blue);
    }
    .contact:hover,
    .contact:focus-visible {
        background-color: hsla(0, 0%, 100%, .5);
    }

    /* Sevices */
    .ss__even-columns {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    .ss__col-transform {
        order: 2;
    }
    .ss__col-transform_content{
        text-align: left;
        padding-inline: clamp(3rem, 6vw, 6rem);
    }
    .ss__block-title{
        font-size: clamp(1.5rem, 4vw, 2.8rem);
        margin-bottom: 1.5rem;
        color: var(--very-dark-desaturated-blue);
    }
    .ss__col-standout {
        order: 3;
    }
    .ss__col-standout_content{
        text-align: left;
        padding-inline: clamp(3rem, 6vw, 6rem);
    }
    .ss__col-standout_content > p {
        margin-bottom: 2rem;
    }

    .ss__testimonial-section {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .ss__testimonial-section > h2{
        font-family: var(--ff-sec);
        text-transform: uppercase;
        letter-spacing: 5px;
        color: var(--dark-grayish-blue);
        text-align: center;
    }
    .ss__testimonial{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: 90%;
    }
    .ss__test-card{
        max-width: 400px;
        min-width: 320px;
    }
    .ss__gallery > img {
        width: 100%;
        aspect-ratio: 4 / 5;
        object-fit: cover;
    }
}
@media (min-width: 976px) {
    .ss__even-columns {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
    .ss__col-graphic{ 
        aspect-ratio: 1 / 1;
     }
    .ss__col-photography{ 
        aspect-ratio: 1 / 1;
     }
}